In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data = sns.load_dataset('titanic')

In [ ]:
data.head()

## print columns of ``data``

In [ ]:
data.columns.values.tolist()

## get number of nan values per column

In [ ]:
data.isnull().sum()

## display the following :
- show the 5 first lines
- print a summary statistics of your columns (numerical and categorical apart)

In [ ]:
data.head()

In [ ]:
data.who.unique()

In [ ]:
data.describe()

In [ ]:
data.info()

In [ ]:
data.describe(exclude=np.number)

## replace nan values in age with mean

In [ ]:
# Replace null value in age column
mean=data.age.mean()

data["age"]=data.age.fillna(mean).astype(np.int8)

In [ ]:
data

## do the following : 
- first detect which columns are categorical (such as ``Embarked column`` )  and  convert them into ``category`` type
- then Replace null values in embarked and fare columns with mode. or median.

In [ ]:
## Replace null value in embarked and fare classes with mode or median
liste_category=["pclass","parch","survived","alone","adult_male","embark_town","embarked","alive","who","sex"]
data[liste_category]=data[liste_category].astype("category")

In [ ]:
data.info()

## print the frequency of embarked , then normalize them

In [ ]:
#print the frequency of embarked
data.embarked.value_counts(normalize=True)

## drop the column fare

In [ ]:
 data.drop(columns=["fare"],axis=1)

In [ ]:
data.sex.unique()

## Average age of the woman passengers:

In [ ]:
data[data.sex=="female"].age.mean()

## Average age of the male passengers.

In [ ]:
 data[~(data.sex=="female")].age.mean()

## The max age among the male passengers:

In [ ]:
data[~(data.sex=="female")].age.max()

## Create a new column age2 = age +12

In [ ]:
 data["age2"]=data["age"]+12

## calculate The min age among the female passengers:

In [ ]:
 data[(data.sex=="female")].age.min()

## calculate the min age among the alive male passengers.

In [ ]:
 data[(data.sex=="male") & (data.alive=="yes")].age.min()

##  Average the age of  **male** passengers in First or Second class:

In [ ]:
data=data.rename(columns={"class":"_class"})

In [ ]:
#Rename columns class
data._class.unique()

In [ ]:
data[((data._class=="First") | (data._class=="Second") ) & (data.sex=="male")].age.mean()

## get total age of embarked equals to S or C.

In [ ]:
data[(data.embarked=="S") | (data.embarked=="C")].age.sum()

##  Sort the DataFrame in ascending order of the 'age' use ``sort_values (df.sort_values(by='...', ascending=...)).``

In [ ]:
data.drop(columns=["Age"],inplace=True)

In [ ]:
data.sort_values("age")

**Aggregating**


Documentation : https://pbpython.com/groupby-agg.html

Aggregation function is one which takes multiple individual values and returns a summary.

The most common aggregation functions are a simple average or summation of values.

Hereâ€™s a quick example of calculating the total and average fare using the Titanic dataset (loaded from seaborn):

## Average age for each embark_town. Use the groupby() method.

In [ ]:
data.age.mode()

In [ ]:
def double_age(column):
      return (column*2).values.tolist()
def mode(column):
      return column.mode()

data.groupby(by=["embark_town","survived"]).agg(age_mode=("age",mode),
                                    fare_median=("fare","median"))

## Average age of each embark_town with respect to class. Use the pivot_table() method.

- repeate the same but using fare as values. 
- use at least two aggregation functions (sum , mean ,...etc)   

Pivot Table

Documentation : 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

In [ ]:
data.pivot_table(values="age",index="embark_town",columns=["_class","survived"],aggfunc="std")

## Average age and fare for each embark_town using groupby()

In [ ]:
data.groupby(by="embark_town").agg(age_mean=("age","mean"),fare_mean=("fare","mean"))

## Sort the DataFrame in ascending order of the 'embark_town'. Show the top 20.

In [ ]:
data.sort_values(by="embark_town").head(20)

In [ ]:
data.embarked.value_counts()