

# Pandas Series exercises

In [ ]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.1.5



## Series creation

### Create an empty pandas Series

In [ ]:
# your code goes here

series=pd.Series([1,2,3,4])

series

0    1
1    2
2    3
3    4
dtype: int64



### Given the X python list convert it to an Y pandas Series

In [ ]:
# your code goes here



### Given the X pandas Series, name it 'My letters'

In [ ]:
# your code goes here
series.name="My letters"
series

0    1
1    2
2    3
3    4
Name: My letters, dtype: int64



### Given the X pandas Series, show its values

In [ ]:
# your code goes here
series.values

array([1, 2, 3, 4])



## Series indexation

### Assign index names to the given X pandas Series

In [ ]:
# your code goes here
s= pd.Series([1,2,3])

s.index= ["A","B","C"]

s

A    1
B    2
C    3
dtype: int64



### Given the X pandas Series, show its first element

In [ ]:
# your code goes here
s[0]

1



### Given the X pandas Series, show its last element

In [ ]:
# your code goes here
s[-1]

3



### Given the X pandas Series, show all middle elements

In [ ]:
# your code goes here
s[1:-1]

B    2
dtype: int64



### Given the X pandas Series, show the elements in reverse position

In [ ]:
# your code goes here
print(s[::-1])

s.sort_values(ascending=False)

C    3
B    2
A    1
dtype: int64

C    3
B    2
A    1
dtype: int64



### Given the X pandas Series, show the first and last elements

In [ ]:
# your code goes here
s[[0,-1]]

A    1
C    3
dtype: int64



## Series manipulation

### Convert the given integer pandas Series to float

In [ ]:
# your code goes here
s=s.astype("float")
print(s)

A    1.0
B    2.0
C    3.0
dtype: float64



### Reverse the given pandas Series (first element becomes last)

In [ ]:
# your code goes here



### Order (sort) the given pandas Series

In [ ]:
# your code goes here
s.sort_values()

A    1.0
B    2.0
C    3.0
dtype: float64



### Given the X pandas Series, set the fifth element equal to 10

In [ ]:
# your code goes here
s = pd.Series([1,4,7,8,-1,7])

s.index=list("ABCDEF")
s

A    1
B    4
C    7
D    8
E   -1
F    7
dtype: int64

In [ ]:
s[4]=10
s

A     1
B     4
C     7
D     8
E    10
F     7
dtype: int64



### Given the X pandas Series, change all the middle elements to 0

In [ ]:
# your code goes here
s[1:-1]=0
s

A    1
B    0
C    0
D    0
E    0
F    7
dtype: int64



### Given the X pandas Series, add 5 to every element

In [ ]:
# your code goes here
s + 5

A     6
B     5
C     5
D     5
E     5
F    12
dtype: int64



## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [ ]:
# your code goes here
s<0

A    False
B    False
C    False
D    False
E    False
F    False
dtype: bool



### Given the X pandas Series, get the negative elements

In [ ]:
# your code goes here
s[s<0]

Series([], dtype: int64)



### Given the X pandas Series, get numbers higher than 5

In [ ]:
# your code goes here



### Given the X pandas Series, get numbers higher than the elements mean

In [ ]:
# your code goes here
s[s>s.mean()]

F    7
dtype: int64



### Given the X pandas Series, get numbers equal to 2 or 10

In [ ]:
# your code goes here
s[(s==2) | (s==10) ]

Series([], dtype: int64)



## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [ ]:
# your code goes here
print(s)
np.all(s!=0)

A    1
B    0
C    0
D    0
E    0
F    7
dtype: int64

False



### Given the X pandas Series, return True if any of its elements is zero

In [ ]:
# your code goes here
np.any(s==0)

False



## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [ ]:
# your code goes here
s.sum()

8



### Given the X pandas Series, show the mean value of its elements

In [ ]:
# your code goes here
s.mean()

1.3333333333333333



### Given the X pandas Series, show the max value of its elements

In [ ]:
# your code goes here
s.max()

7